<div class="hero-unit">
	<div ng-include="'views/partials/topMenu.html'"></div>
	<div class="text-center">
		<b>Generell information</b>
		<form name="form" class="css-form" novalidate>
			<table class="table">
				<tr>
					<td>Projektnamn: </td>
					<td>
						<input type="text" ng-model="project.title" name="pTitle" required/>
						<div ng-show="form.pTitle.$invalid">Fel:
							<span ng-show="form.pTitle.$error.required">Projektnamn krävs</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>Beskrivning: </td>
					<td><input type="text" ng-model="project.description" name="pDescription"/></td>
				</tr>
				<tr>
					<td>Företagsnamn: </td>
					<td>
						<input type="text" ng-model="project.company_name" name="pCompanyName" required/>
						<div ng-show="form.pCompanyName.$invalid">Fel:
							<span ng-show="form.pCompanyName.$error.required">Företagsnamn krävs</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>Total area: </td>
					<td><input type="text" ng-model="project.area" name="pArea"/></td>
				</tr>
				<tr>
					<td>Semesterveckor per år: </td>
					<td>
						<input type="text" ng-model="project.vacation_weeks" name="pVacationWeeks" required/>
						<div ng-show="form.pVacationWeeks.$invalid">Fel:
							<span ng-show="form.pVacationWeeks.$error.required">Semesterväckor krävs</span>
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><button ng-click="createProject()" ng-disabled="form.$invalid" class="btn btn-success">Spara</button></td>
				</tr>
			</table>
		</form>
	</div>
	Byggnader: <a href="#/area/create"><button class="btn btn-primary btn-xs">Lägg till</button></a><br>
	<table class="table">
		<thead><tr><th>Namn</th><th>Beskrivning</th><th></th></tr></thead>
		<tbody>
			<tr ng-repeat="building in buildings">
				<td>{{building.title}}</td><td>{{building.description}}</td><td><button class="btn btn-danger btn-xs" ng-click="deleteArea(building)">X</button></td>
			</tr>
		</tbody>
	</table>

	Rum: <a href="#/area/create"><button class="btn btn-primary btn-xs">Lägg till</button></a><br>
	<table class="table">
		<thead><tr><th>Namn</th><th>Beskrivning</th><th>Byggnad</th></tr></thead>
		<tbody>
			<tr ng-repeat="room in rooms">
				<td>{{room.title}}</td><td>{{room.description}}</td><td>{{room.ownerTitle}}</td><td><button class="btn btn-danger btn-xs" ng-click="deleteArea(room)">X</button></td>
			</tr>
		</tbody>
	</table>
</div>
